.body {
    margin: 0;
    padding: 0;
}
.container-h {
    background-color: #F5E5D1;
    height: 50px;


    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-width: 1px;
    border-radius: 2px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    margin: 0;
}
.p-name {
    color: #a68a65;
    font-family: Libre Baskerville, serif;
    font-size: 20px;
    font-weight: 700;
}

.line {
    font-family: Outfit, sans-serif ;
    font-size: 18px;
    font-weight: 700;
    color: #29303d;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
        gap: 50px;
}
.h-about {
    margin-right: 20px;
}


/* #4A3E31 text B1A091 and #a68a65 , 2D3748 */